<div class="modal contact">
  <ion-header-bar>
    <h1 class="title">Contact us</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="contactClose()"><i class="icon ion-close-round"></i></button>
    </div>
  </ion-header-bar>
  <ion-content class="eatz-small-modal">
    <form ng-submit="doLogin()">
      <div class="list">
        <p class="item">Help us make Eatsapp better and useful for everyone</p>
        <a class="item" href="mailto:assemlal1991@yahoo.com">Report an issue</a>
        <a class="item" href="mailto:assemlal1991@yahoo.com">Make a suggestion</a>
        <a class="item" href="mailto:assemlal1991@yahoo.com">Partner with us</a>
      </div>
    </form>
  </ion-content>
</div>

