<ion-view hide-nav-bar="true">
 <div class="bar bar-stable bar-header">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <div class="h1 title">القلعة24</div> 
    <button class="button button-icon icon ion-search" ng-click="search();"></button>
    
  </div> 
  <ion-content class="has-header"> 
 <div class="post-contain"><div class="post-content">
    <h1>اتصل بنا</h1>
    لكل معلومة او استفسار يرجى الاتصال بأحد الأرقام الهاتفية التالية  :<br />
مدير الجريدة ورئيسها : 0661392084<br />
رئيس التحرير            :  0678137236<br />
أو أحد الأرقام التالية :  0633773421 – 0671428897 – 0666131456<br />
أو على البريد الالكتروني للجريدة :  <a href="mailto:elkelaa24@gmail.com">elkelaa24@gmail.com</a><br />
 
</div></div>
 </ion-content>
</ion-view>
